* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    padding: 1rem;
    background-color: lightgoldenrodyellow;
    height: 100vh;
    width: 100vw;
}


@media screen and (min-width: 992px){
    .content{
        max-width: 992px;
        margin: 1rem auto;
        height: auto;
        border-radius: 1rem;
    }
}

.content h1{
    margin: 0;
    color: #f7c505;
    -webkit-text-stroke-width: 1.8px;
    -webkit-text-stroke-color: #385aa3;
    font-size: 4.3rem;
    padding-right: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    align-items: center;
}

#logo {
    position: relative;
    opacity: .3;
    transform: rotate(145deg);
    height: 100px;
}

